
.bg-header{
    background-color: #FECE66;
}

.image-content{
  position: absolute;
  top: 30%;
  left: 50%;
}

.hero span{
  color: #377DFF;
}

@media (max-width: 768px) {
  .hero h2,
  .hero p {
    font-size: 1rem!important;
  }
}
